.layout-2cr {
    background: none;
}

#main {
    @include flex-container();
}

#primary {
    position: relative;
    padding: 2rem $sidebar-gutter 2rem 2rem;

    background: none;
    float: none;
    width: auto;
    max-width: calc(100vw - #{$sidebar-width});
    margin: 0;

    @include flex-content-size(1, 0, auto);

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: $sidebar-gutter;
        height: 100%;
        background: url("../../images/bg-rtl.jpg") left top repeat-y;
    }

    .layout-2cr & {
        margin: 0;
        padding-left: 2rem;
        padding-right: $sidebar-gutter;

        &:before {
            left: inherit;
            right: 0;
            background-position: right top;
        }
    }
}

#sidebar {
    padding: 2rem;
    margin: 0;
    background: $extraDarkGreen;

    .layout-2cr & {
        padding: 2rem;
        margin: 0;
    }

    @include flex-content-size(0, 0, $sidebar-width);
}

.entry-icon {
    left: calc(-#{$sidebar-gutter} + 32px);

    .layout-2cr & {
        left: inherit;
        right: calc(-#{$sidebar-gutter} + 32px);
    }
}

#footer {
    padding: 10px 0;
    margin: 0;
    background: $black;
}

.entry-header {
    background: none;
    padding-bottom: 0;
}

#header {
    background: none;
    padding-bottom: 0;
}

#logo {
    margin-bottom: 2rem;

    a {
        display: block;
        height: 150px;
    }

    img {
        max-height: 100%;
        width: auto;
    }
}

.widget-title {
    background: none;
    border-bottom: solid 1px $darkGrey;
    padding-bottom: 1rem;
}

.widget-title span {
    background: none;
}

#reply-title {
    background: none;
    border-bottom: solid 1px $mediumGrey;
    padding-bottom: 1rem;
}

#commentform textarea {
    width: 100%;
    max-width: inherit;
}

.entry-content {
    font-size: 1rem;
    line-height: 1.5;
}