.layout-2cr {
    background: none;
}

#main {
    margin-top: $topbar-height;

    @include flex-container();
}

#primary {
    position: relative;
    padding: 1rem;

    background: none;
    float: none;
    width: auto;
    max-width: calc(100vw - #{$sidebar-width});
    margin: 0;

    @include flex-content-size(1, 0, auto);

    @include mq(medium) {
        padding: 2rem;
    }

    @include mq(large) {
        padding-right: $sidebar-gutter;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: $sidebar-gutter - 20px;
            height: 100%;
            background: url("../../images/bg-rtl.jpg") left top repeat-y;
        }
    }

    .layout-2cr & {
        margin: 0;

        @include mq(large) {
            padding-left: 2rem;
            padding-right: $sidebar-gutter;
        }

        &:before {
            left: inherit;
            right: 0;
            background-position: right top;
        }
    }
}

#sidebar {
    padding: 1rem;
    margin: 0;

    background: $extraDarkGreen;

    @include mq(medium) {
        padding: 2rem;
    }

    .layout-2cr & {
        padding: 2rem;
        margin: 0;
    }

    @include flex-content-size(0, 0, $sidebar-width);
}

.entry-icon {
    display: none;
    width: 40px;
    left: calc(-#{$sidebar-gutter} + 32px - 20px);

    @include mq(large) {
        display: block;
    }

    .layout-2cr & {
        width: 40px;
        left: inherit;
        right: calc(-#{$sidebar-gutter} + 32px - 20px);
    }

    .layout-2cr .format-aside &,
    .layout-2cr &.format-aside {
        background-position: -30px -127px;
        top: 5px !important;
    }

    .layout-2cr .format-audio &,
    .layout-2cr &.format-audio {
        background-position: -30px -90px;
        height: 36px;
    }

    .layout-2cr .format-gallery &,
    .layout-2cr &.format-gallery {
        background-position: -30px -159px;
        height: 38px;
    }

    .layout-2cr .format-image &,
    .layout-2cr &.format-image {
        background-position: -30px 0;
    }

    .layout-2cr .format-link &,
    .layout-2cr &.format-link {
        background-position: -30px -235px;
        height: 36px;
        top: 15px;
    }

    .layout-2cr .format-quote &,
    .layout-2cr &.format-quote {
        background-position: -30px -32px;
        height: 26px;
    }

    .layout-2cr .format-standard &,
    .layout-2cr &.format-standard {
        background-position: -30px -198px;
        height: 36px;
    }

    .layout-2cr .format-video &,
    .layout-2cr &.format-video {
        background-position: -30px -54px;
    }
}

#footer {
    margin: 0;
    background: $darkGreen;
    padding: 10px 0;
}

.entry-header {
    background: none;
    padding-bottom: 0;
}

#header {
    background: none;
    padding-bottom: 0;
}

#logo {
    margin-bottom: 2rem;

    a {
        display: block;
        max-height: 150px;
    }

    img {
        max-height: 100%;
        width: auto;
        height: auto;
    }
}

.widget-title {
    background: none;
    border-bottom: solid 1px $darkGrey;
    padding-bottom: 1rem;
}

.widget-title span {
    background: none;
}

#reply-title {
    background: none;
    border-bottom: solid 1px $mediumGrey;
    padding-bottom: 1rem;
}

#commentform textarea {
    width: 100%;
    max-width: inherit;
}

.entry-content {
    font-size: 1rem;
    line-height: 1.5;
}

#sidebar #searchform {
    position: relative;
    background: $darkBlue;
    height: 34px;
    @include box-shadow(0 1px 0 rgba(255, 255, 255, .08), 0 1px 4px rgba(0, 0, 0, .3) inset);

    .icon-search:before {
        padding: 0 0 0 10px;
        font-size: 1.4rem;
        line-height: 34px;
    }
}

#sidebar #s {
    position: absolute;
    right: 0;
    padding: 10px 15px;
    background: none;
    width: calc(100% - 40px);
    @include box-shadow(none);
    @include border-radius(0);
}

#primary #s {
    background: none;
}

#sidebar a {
    text-shadow: none;
}

#huge_it_portfolio_content_2 #huge_it_portfolio_container_2 {
    width: 100% !important;
}

.post-media iframe {
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 650px;
    min-height: 320px;
}

#primary > h1 {
    text-align: center;
    color: $darkGrey;
}

#primary > [class^="post-"] {
    padding: 1rem;

    @include mq(medium) {
        padding: 2rem;
    }

    .entry-title {
        margin-top: 0;
    }
}

.post-media {
    background: none;
    box-shadow: none;
    border: solid 1px $lightGrey;
}