.layout-2cr {
    background: none;
}

#main {
    margin-top: $topbar-height;

    @include flex-container();
}

.page .entry-icon,
[class^="post-"] .entry-icon {
    display: none;
    width: 40px;
    left: calc(-#{$sidebar-gutter} + 32px - 20px);

    @include mq(large) {
        display: block;
    }

    .layout-2cr & {
        width: 40px;
        left: inherit;
        right: calc(-#{$sidebar-gutter} + 32px - 20px);
    }
}

.layout-2cr [class^="post-"] {

    &.format-aside .entry-icon,
    .entry-icon.format-aside {
        background-position: -30px -125px;
        top: 5px !important;
    }

    &.format-audio .entry-icon,
    .entry-icon.format-audio {
        background-position: -30px -90px;
        height: 36px;
    }

    &.format-gallery .entry-icon,
    .entry-icon.format-gallery {
        background-position: -30px -159px;
        height: 38px;
    }

    &.format-image .entry-icon,
    .entry-icon.format-image {
        background-position: -30px 3px;
    }

    &.format-link .entry-icon,
    .entry-icon.format-link {
        background-position: -30px -235px;
        height: 36px;
        top: 15px;
    }

    &.format-quote .entry-icon,
    .entry-icon.format-quote {
        background-position: -30px -32px;
        height: 26px;
    }

    &.format-standard .entry-icon,
    .entry-icon.format-standard {
        background-position: -30px -198px;
        height: 36px;
    }

    &.format-video .entry-icon,
    .entry-icon.format-video {
        background-position: -30px -54px;
    }
}

.layout-2cr .page .entry-icon,
.layout-2cr.error404 .entry-icon {
    background-position: -30px -198px;
}

#footer {
    margin: 0;
    background: $darkGreen;
    padding: 10px 0;
}

.entry-header {
    background: none;
    padding-bottom: 0;
}

#header {
    background: none;
    padding-bottom: 0;
}

#logo {
    margin-bottom: 2rem;

    a {
        display: block;
    }

    img {
        max-height: 150px;
        width: auto;
        height: auto;
    }
}

.widget-title {
    background: none;
    border-bottom: solid 1px $darkGrey;
    padding-bottom: 1rem;
}

.widget-title span {
    background: none;
}

#reply-title {
    background: none;
    border-bottom: solid 1px $mediumGrey;
    padding-bottom: 1rem;
}

#commentform textarea {
    width: 100%;
    max-width: inherit;
}

.entry-content {
    font-size: 1rem;
    line-height: 1.5;
}

#sidebar #searchform {
    position: relative;
    background: $darkBlue;
    height: 34px;
    @include box-shadow(0 1px 0 rgba(255, 255, 255, .08), 0 1px 4px rgba(0, 0, 0, .3) inset);

    .icon-search:before {
        padding: 0 0 0 10px;
        font-size: 1.4rem;
        line-height: 34px;
    }
}

#sidebar #s {
    position: absolute;
    right: 0;
    padding: 10px 15px;
    background: none;
    width: calc(100% - 40px);
    @include box-shadow(none);
    @include border-radius(0);
}

#primary #s {
    background: none;
}

#sidebar a {
    text-shadow: none;
}

#huge_it_portfolio_content_2 #huge_it_portfolio_container_2 {
    width: 100% !important;
}

.post-media iframe {
    display: block;
    margin: 20px auto 0;
    width: 100%;
    max-width: 650px;
    min-height: 320px;
}

#primary > h1 {
    text-align: center;
    color: $darkGrey;
}

#primary > [class^="post-"] {
    padding: 0;

    .entry-title {
        margin-top: 0;
    }
}

.post-media,
.format-link .entry-title {
    background: none;
    box-shadow: none;
    border: solid 1px $lightGrey;
    padding: 2rem;
}

#primary .hentry {
    margin-bottom: 2rem;
}

#primary [class^="post-"] .entry-content,
#primary [class^="post-"] .post-media {
    border: solid 1px $lightGrey;
    padding: 1rem;

    @include mq(medium) {
        padding: 2rem;
    }

    p {
        line-height: 1.8;
    }
}

.entry-footer {
    text-align: right;

    .published {
        float: none;
    }
}

.format-link .entry-title {
    padding: 0;

    @include transition(background 0.15s ease-in);

    a {
        padding: 0.8rem;

        color: $green;
        text-shadow: none;

        @include transition(color 0.15s ease-in);
    }

    &:hover {
        background: $lightGreen;

        a {
            color: $white;
            text-shadow: none;
        }
    }
}