// ------------------------------------------------
// =declare font families
// ------------------------------------------------

/* ROBOTO */

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto-regular-webfont.eot');
    src: url('../../fonts/roboto-regular-webfont.eot') format('embedded-opentype'),
    url('../../fonts/roboto-regular-webfont.woff') format('woff'),
    url('../../fonts/roboto-regular-webfont.ttf') format('truetype'),
    url('../../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto-thin-regular-webfont.eot');
    src: url('../../fonts/roboto-thin-regular-webfont.eot') format('embedded-opentype'),
    url('../../fonts/roboto-thin-regular-webfont.woff') format('woff'),
    url('../../fonts/roboto-thin-regular-webfont.ttf') format('truetype'),
    url('../../fonts/roboto-thin-regular-webfont.svg#robotoregular') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto-light-regular-webfont.eot');
    src: url('../../fonts/roboto-light-regular-webfont.eot') format('embedded-opentype'),
    url('../../fonts/roboto-light-regular-webfont.woff') format('woff'),
    url('../../fonts/roboto-light-regular-webfont.ttf') format('truetype'),
    url('../../fonts/roboto-light-regular-webfont.svg#robotoregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto-medium-webfont.eot');
    src: url('../../fonts/roboto-medium-webfont.eot') format('embedded-opentype'),
    url('../../fonts/roboto-medium-webfont.woff') format('woff'),
    url('../../fonts/roboto-medium-webfont.ttf') format('truetype'),
    url('../../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto-bold-webfont.eot');
    src: url('../../fonts/roboto-bold-webfont.eot') format('embedded-opentype'),
    url('../../fonts/roboto-bold-webfont.woff') format('woff'),
    url('../../fonts/roboto-bold-webfont.ttf') format('truetype'),
    url('../../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: 600;
    font-style: normal;
}

// ------------------------------------------------
// =base typography
// ------------------------------------------------

html {
    font: 300 100%/$baseLineHeight $baseFontFamily;
}

body {
    color: $textColor;
    font-size: 12px;

    @include mq(medium) {
        font-size: 14px;
    }

    @include mq(large) {
        font-size: 16px;
    }

    @include mq(xlarge) {
        font-size: 18px;
    }

    h1 {
        font-size: 1.8rem;
        font-weight: 600;
    }

    h2 {
        font-size: 1.6rem;
        font-weight: 500;
    }

    h3 {
        font-size: 1.4rem;
        font-weight: 300;
    }

    h4 {
        font-size: 1.2rem;
        font-weight: 300;
    }

    h5 {
        font-size: 1rem;
        font-weight: 500;
    }

    p, li, span {
        font-size: 1rem;
        font-weight: 300;
    }
}

/* MONTARA */
@font-face {
	font-family: 'Montara';
	src: url('../../fonts/MontaraGothic.eot');
	src: url('../../fonts/MontaraGothic.eot') format('embedded-opentype'),
	url('../../fonts/MontaraGothic.woff2') format('woff2'),
	url('../../fonts/MontaraGothic.woff') format('woff'),
	url('../../fonts/MontaraGothic.ttf') format('truetype'),
	url('../../fonts/MontaraGothic.svg#MontaraGothic') format('svg');
}