body.page,
body.single,
body.search,
body.category {
    #wrapper {
        min-height: 100vh;
    }

    #topbar {
        height: 40px;

        .custom-logo-link {
            display: none;
        }

        .site-title {
            display: none;
        }
    }

    .site-aside-menu {
        padding-top: 40px;
    }

    #main {
        padding-top: 40px;
    }
}
