body.home,
body.page,
body.single,
body.search,
body.category {
    #wrapper {
        min-height: 100vh;
    }

    #topbar {
        .custom-logo-link {
            display: none;
        }

        .site-title {
            display: none;
        }
    }
}