.gallery {
    position: relative;
    text-align: center;
    width: 100%;

    @include flex-container();
    @include flex-wrap(wrap);

    font-size: 0;
}

.gallery-item {
    width: 100%;
    height: auto;
    max-width: calc(100% / 2);

    @include mq(large) {
        max-width: calc(100% / 3);
    }

    img {
        width: 100%;
        height: auto;
    }
}
