html {
    font-size: 60%;

    @include mq(medium) {
        font-size: 80%;
    }

    @include mq(large) {
        font-size: 100%;
    }

    *,
    *:before,
    *:after {
        @include box-sizing(border-box);
    }
}

/* Layout styling */
#wrapper {
    width: 100%;
}

#topbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: $topbar-height;

    background: #2E5360;
    z-index: $zindex-topbar;

    body:not(.page-template-tpl-under-construction) & {
        @include flex-container();
    }

    .custom-logo-link {
        $margin: 5px;
        text-decoration: none;
        margin: $margin;
        border: none;

        @include flex-content-size(0, 0, auto);

        img {
            display: inline-block;
            vertical-align: middle;
            max-height: calc(#{$topbar-height} - #{$margin} * 2);
            max-width: 100%;
            width: auto;
            height: auto;
        }
    }

    .site-title {
        display: inline-block;
        vertical-align: middle;
        margin: 0;

        font-size: .9rem;
        line-height: $topbar-height;
        font-weight: 500;

        color: $white;
        text-shadow: none;
        @include flex-content-size(0, 0, auto);
    }

    .menu-toggle {
        margin: 0 $gutter/2 0 0;

        background: none;
        border: none;
        outline: none;
        text-align: right;
        color: $white;
        box-shadow: none;
        text-transform: uppercase;
        font-weight: 300;
        font-size: .9rem;

        @include transition(color 0.15s ease-in);
        @include flex-content-size(0, 0, auto);
        @include appearance(none);

        &:hover {
            color: $green;
        }

        i {
            display: inline-block;
            vertical-align: top;
            font-size: 1.2rem;
            margin-left: 5px;
        }
    }

    #social-navigation {
        margin: 0 $gutter/2 0;

        @include flex-content-size(1, 0, auto);

        ul {
            text-align: right;
            width: 100%;
        }
    }
}

#main {
    width: 100%;
}

#footer {
    width: 100%;
    padding: 10px 0;

    text-align: center;

    .site-title {
        display: inline-block;
        font-size: 0.8rem;
        color: $white;
    }
}

/* Main Navigation */
.site-aside-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: $zindex-navigation;
    padding-top: $topbar-height;

    background: rgba(1, 22, 29, 0.9);

    // Hide effect for aside content
    &, * {
        width: 0;
        overflow: hidden;
        @include transition(all 0.15s ease-in);
    }

    @include opacity(0);

    &.is-visible {
        min-width: 100vw;
        overflow: auto;
        padding: 2rem;

        @include opacity(100);
        @include transition(all 0.15s ease-in);

        @include mq(large) {
            min-width: 30vw;
        }

        // Show effect for aside content
        &, * {
            width: auto;
        }
    }

    .site-aside-content {
        display: table;
        width: 100%;
        height: 100%;
    }

    .site-aside-content-centered {
        display: table-cell;
        vertical-align: middle;
    }

    #site-navigation {
        width: 100%;
        margin-bottom: 2rem;

        ul {
            text-align: center;
            width: 100%;
        }
    }

    #site-language {
        width: 100%;

        ul {
            text-align: center;
            width: 100%;
        }
    }
}

.primary-menu {
    margin: 0;
}

.primary-menu-item {
    display: block;
    margin: 5px 0;
}

.primary-menu-item-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 3.6rem;

    color: $white;
    border: none;
    text-shadow: none;

    @include transition(color 0.15s ease-in);

    @include mq(large) {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    &:hover {
        color: $green;
    }
}

/* Socials styling */
.content--socials {
    text-align: center;
    margin-right: 1rem;

    @include flex-container();
    @include flex-direction(row);
    @include flex-justify-content(flex-end);
    @include flex-wrap(nowrap);
    @include align-content(stretch);
    @include align-items(center);
}

.content--socials--list {
    margin: 0;
}

.content--socials--list-item {
    display: inline-block;

    @include transition(color 0.15s ease-in);
}

.content--socials--list-item-link {
    display: inline-block;
    padding: 3px;
    text-decoration: none;

    border: none;
    text-shadow: none;
    color: $white;

    @include transition(color 0.15s ease-in);

    &:hover {
        color: $green;
    }

    i {
        font-size: 1.2rem;
    }
}