html {
    font-size: 60%;

    @include mq(medium) {
        font-size: 80%;
    }

    @include mq(large) {
        font-size: 100%;
    }

    *,
    *:before,
    *:after {
        @include box-sizing(border-box);
    }
}

/* Layout styling */
html.is-overflow-hidden,
html.is-overflow-hidden body{
    overflow: hidden;
    height: 100%;

    @include mq(large) {
        overflow: auto;
        height: auto;
    }
}

#wrapper {
    width: 100%;
}

#topbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: $topbar-height;

    z-index: $zindex-topbar;

    body:not(.page-template-tpl-under-construction) & {
        @include flex-container();
    }

    #topbar-logo {
        padding: 0 $gutter / 3;
        background: $color-secondary-medium;

        @include flex-content-size(0, 0, auto);
    }

    .custom-logo-link {
        $margin: 5px;
        display: inline-block;
        text-decoration: none;
        border: none;

        img {
            display: inline-block;
            vertical-align: middle;
            max-height: calc(#{$topbar-height} - 4px);
            max-width: 100%;
            width: auto;
            height: auto;
        }
    }

    .site-title {
        display: block;
        vertical-align: middle;
        margin: 0;

        font-size: .9rem;
        line-height: $topbar-height;
        font-weight: 500;

        color: $color-white;
        text-shadow: none;

        @include mq(medium) {
            display: inline-block;
        }
    }

    .menu-toggle {
        padding: 0 $gutter/3 0;
        margin-right: $gutter/3;

        background: $color-secondary-medium;
        border: none;
        outline: none;
        text-align: right;
        color: $color-white;
        box-shadow: none;
        text-transform: uppercase;
        font-weight: 300;
        font-size: .9rem;

        @include transition(color 0.15s ease-in);
        @include appearance(none);
        @include border-radius(0);

        &:hover {
            color: $color-green;
        }

        i {
            display: inline-block;
            vertical-align: top;
            font-size: 1.2rem;
            margin-left: 5px;
        }


        &.is-opened {
            i {
                vertical-align: middle;

                &:before {
                    content: "\70"; // times icon
                }
            }
        }
    }

    #social-navigation {
        text-align: left;
        margin: 0 $gutter/2 0 0;

        @include flex-content-size(1, 0, auto);
    }
}

#main {
    width: 100%;
}

#footer {
    width: 100%;
    padding: 3px 0;

    text-align: center;

    .site-title {
        display: inline-block;
        font-size: 0.8rem;
        color: $color-white;
    }
}

/* Main Navigation */
.site-aside-menu {
    position: fixed;
    top: 0;
    left: -100vw;
    height: 100%; // needs to be in % en not vh to force mobile to ignore browser's bottom bar
    z-index: $zindex-navigation;
    padding-top: $topbar-height;

    background: $color-secondary-medium;

    @include transition(left 0.8s ease-in);

    @include mq(large) {
        min-width: 30vw;
    }

    &.is-visible {
        @include transition(left 0.5s ease-out);

        left: 0;
    }

    .site-aside-content {
        display: table;
        width: 100%;
        height: 100%;
    }

    .site-aside-content-centered {
        display: table-cell;
        vertical-align: middle;
        padding: 0 1rem;

        @include mq(medium) {
            padding-right: 2rem;
            padding-left: 2rem;
        }
    }

    #site-navigation {
        width: 100%;
        margin-bottom: 4rem;

        .primary-menu {
            text-align: center;
            width: 100%;
        }
    }

    #site-language {
        width: 100%;
        text-align: center;
    }
}

.primary-menu {
    margin: 0;
}

.primary-menu-item {
    display: block;
    margin: 5px 0;
}

.primary-menu-item-link,
.primary-sub-menu-item-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 3.6rem;

    color: $color-white;
    border: none;
    text-shadow: none;

    @include transition(color 0.15s ease-in);

    @include mq(large) {
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    &:hover,
    &:active,
    &.is-active {
        color: $color-green;
    }
}

.primary-sub-menu {
    margin: 0 0 .5rem;
    text-align: center;
}

.primary-sub-menu-item {
    display: block;
    margin: 2px 0;
}

.primary-sub-menu-item-link {
    text-transform: capitalize;
    font-size: 2rem;
    line-height: 2.6rem;
    border-left: solid 1px $color-light-green;
    padding-left: 1.5rem;

    @include mq(large) {
        font-size: 0.9rem;
        line-height: 1rem;
        padding-left: .5rem;
    }
}

/* Socials styling */
.content--socials {
    text-align: center;
    margin-right: 1rem;

    @include flex-container();
    @include flex-direction(row);
    @include flex-justify-content(flex-end);
    @include flex-wrap(nowrap);
    @include align-content(stretch);
    @include align-items(center);
}

.content--socials--list {
    margin: 0;
    width: 100%;
}

.content--socials--list-item {
    display: inline-block;

    @include transition(color 0.15s ease-in);
}

.content--socials--list-item-link {
    display: inline-block;
    padding: 11px;

    line-height: 14px;
    text-decoration: none;

    border: none;
    text-shadow: none;
    background: $color-secondary-medium;
    color: $color-white;

    @include transition(all 0.15s ease-in);
    @include opacity(50);

    &:hover {
        color: $color-white;
        @include opacity(100);
    }

    i {
        font-size: 1.2rem;
    }
}

/* Language switcher styling */
.site-language-item {
    display: inline-block;

    &:not(:last-child) {
        padding-right: 10px;
        margin-right: 10px;
        border-right: solid 1px $color-light-green;
    }
}

.site-language-item-link {
    color: $color-white;
    border: none;

    &:hover,
    &.is-active {
        color: $color-green;
    }
}

/* Page or Post styling */
body.page:not(.page-template-tpl-index) {
    #wrapper {
        min-height: 100vh;
        @include flex-container();
        @include flex-direction(column);
        @include flex-justify-content(stretch);
    }

    #main {
        @include flex-content-size(1, 0, auto);
    }

    #footer {
        @include flex-content-size(0, 0, auto);
    }
}

#background-primary {
    position: fixed;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: -1;

    [data-el^="item-"] {
        position: absolute;

        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        @include opacity(0);
        @include transition(opacity 0.5s ease-in);

        &.is-visible {
            @include opacity(100);
        }
    }

    [data-el="item-1"] {
        background: url('/wp-content/themes/themannekentrip/build/images/background/_background_01.jpg') $color-secondary-medium no-repeat top center / cover;
    }

    [data-el="item-2"] {
        background: url('/wp-content/themes/themannekentrip/build/images/background/_background_02.jpg') $color-secondary-medium no-repeat top center / cover;
    }

    [data-el="item-3"] {
        background: url('/wp-content/themes/themannekentrip/build/images/background/_background_03.jpg') $color-secondary-medium no-repeat top center / cover;
    }

    [data-el="item-4"] {
        background: url('/wp-content/themes/themannekentrip/build/images/background/_background_04.jpg') $color-secondary-medium no-repeat top center / cover;
    }

    &:before {
        content: '';
        position: absolute;

        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        z-index: 1;
        // Colors
        $bg-color: $color-black;
        $dot-color: #0e5e66;

        // Dimensions
        $dot-size: 1px;
        $dot-space: 4px;
        background:
                linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
                linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, $dot-color;
        background-size: $dot-space $dot-space;

        @include opacity(50);
    }
}