#primary {
    max-width: 100%;
    position: relative;
    padding: 1rem;

    float: none;
    width: auto;
    margin: 0;

    @include flex-content-size(1, 0, auto);

    @include mq(medium) {
        max-width: calc(100vw - #{$sidebar-width});
        padding: 2rem;
    }

    @include mq(large) {
        padding-right: $sidebar-gutter;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: $sidebar-gutter - 20px;
            height: 100%;
            background: url("../../images/bg-rtl.jpg") left top repeat-y;
        }
    }

    &.has-background-image {
        background-size: contain;
        background-clip: padding-box;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: calc(50% - 80px - 20px) bottom;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: $sidebar-gutter - 20px;
            top: 0;
            bottom: 0;
            background: rgba(255, 255, 255, 0.8);
            z-index: 0;
        }
    }

    > * {
        position: relative;
        z-index: 1;
    }

    .layout-2cr & {
        margin: 0;

        @include mq(large) {
            padding-left: 2rem;
            padding-right: $sidebar-gutter;
        }

        &:before {
            left: inherit;
            right: 0;
            background-position: right top;
        }
    }
}