.slider .slidesjs-navigation {
    margin-top: 3px;
    text-decoration: none;
    border-bottom: none;
}

.slider .slidesjs-previous {
    margin-right: 5px;
    float: left;
}

.slider .slidesjs-next {
    margin-right: 5px;
    float: left;
}

.slidesjs-pagination {
    margin: 6px 0 0;
    float: right;
    list-style: none;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

.slidesjs-pagination li a {
    display: inline-block;
    width: 13px;
    height: 13px;

    background: $color-white;
    border: 2px solid $color-black;
    text-indent: -9999px;
    text-decoration: none;

    @include transition(background 0.15s ease-in);
    @include border-radius(100%);
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background: $color-black;
}

.slidesjs-pagination li a:hover {
    background: #9e2020;
}

.slider a:link,
.slider a:visited {
    color: #333
}

.slider a:hover,
.slider a:active {
    color: #9e2020
}

/**********************
// NEW SLIDE SHOW
**********************/
.my-slideshow {
    @include flex-container();
    @include flex-wrap(wrap);
    @include align-content(flex-start);
    @include flex-justify-content(space-between);

    .thumbnail {
        @include flex-content-size(0, 0, 33%);

        cursor: pointer;
        padding: 2px;

        img {
            width: 100%;
        }
    }
}

[data-slideshow] {
    $gutter: 30px;
    $miniatureSize: 40px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: $zindex-slideshow;

    background-color: rgba(0, 0, 0, 0.7);

    @include flex-container();
    @include flex-direction(column);

    [data-slideshow-content] {
        position: relative;
        @include flex-content-size(1, 1, auto);
    }

    [data-slideshow-image] {
        display: none;
        position: absolute;
        padding: $gutter;

        width: 100%;
        height: 100%;

        &.is-active {
            @include flex-container();
            @include flex-direction(column);
        }
    }

    .my-slideshow-image {
        position: relative;
        width: 100%;
        @include flex-content-size(1, 0, auto);
    }

    .my-slideshow-picture {
        position: absolute;
        top: 50%;
        left: 50%;

        height: 100%;
        width: 100%;

        @include transform(translateX(-50%) translateY(-50%));
    }

    .my-slideshow-picture-asset {
        width: 100%;
        height: 100%;

        max-width: 1920px;
        max-height: 1080px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @include flex-content-size(1, 0, auto);
    }

    [data-slideshow-aside] {
        display: none;
        margin-top: $gutter;
        text-align: center;

        @include flex-content-size(0, 0, auto);

        @include mq(medium) {
            display: block;
        }
    }

    .my-slideshow-title,
    .my-slideshow-caption {
        color: $color-white;
    }

    .my-slideshow-caption {
        display: inline-block;
        margin-top: 1.2rem;
        padding-top: 10px;
        border-top: solid 1px $color-white;
        font-weight: 300;
    }

    .my-slideshow-navigation--button {
        position: absolute;

        background: $color-white;

        color: $color-black;
        text-shadow: none;
        font-size: $gutter;
        font-family: themannekentrip;

        &.icon-times {
            top: 0;
            right: 0;
        }

        &.icon-chevron-left {
            left: 0;
            top: 50%;

            @include transform(translateY(-50%));
        }

        &.icon-chevron-right {
            right: 0;
            top: 50%;

            @include transform(translateY(-50%));
        }
    }

    .my-slideshow-navigation--miniatures {
        @include flex-container();
        @include flex-wrap(wrap);
        @include flex-justify-content(center);
    }

    .my-slideshow-miniature {
        cursor: pointer;
        margin: 2px;
        padding: $miniatureSize/2;
        background-size: cover;
    }
}