.slider .slidesjs-navigation {
    margin-top: 3px;
    text-decoration: none;
    border-bottom: none;
}

.slider .slidesjs-previous {
    margin-right: 5px;
    float: left;
}

.slider .slidesjs-next {
    margin-right: 5px;
    float: left;
}

.slidesjs-pagination {
    margin: 6px 0 0;
    float: right;
    list-style: none;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

.slidesjs-pagination li a {
    display: inline-block;
    width: 13px;
    height: 13px;

    background: $color-white;
    border: 2px solid $color-black;
    text-indent: -9999px;
    text-decoration: none;

    @include transition(background 0.15s ease-in);
    @include border-radius(100%);
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background: $color-black;
}

.slidesjs-pagination li a:hover {
    background: #9e2020;
}

.slider a:link,
.slider a:visited {
    color: #333
}

.slider a:hover,
.slider a:active {
    color: #9e2020
}

/**********************
// NEW SLIDE SHOW
**********************/
.my-slideshow {
    @include flex-container();
    @include flex-wrap(wrap);
    @include align-content(flex-start);
    @include flex-justify-content(space-between);

    .thumbnail {
        @include flex-content-size(0, 0, 33%);

        cursor: pointer;
        padding: 2px;

        img {
            width: 100%;
        }
    }
}

[data-slideshow] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: $zindex-slideshow;

    background-color: rgba(0, 0, 0, 0.7);

    .my-slideshow-image {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;

        @include transform(translateX(-50%) translateY(-50%));

        &.is-active {
            display: block;
        }
    }

    $gutter: 30px;
    .my-slideshow-picture {
        width: 100vw;
        height: 100vh;

        padding: $gutter;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-clip: content-box;
    }

    .my-slideshow-title,
    .my-slideshow-caption {
        position: absolute;
        z-index: 2;
        width: calc(100% - 2 * #{$gutter});

        padding: 5px;
        background-color: rgba(0, 0, 0, 0.7);
        color: $color-white;

        left: $gutter;
    }

    .my-slideshow-title {
        top: $gutter;
    }

    .my-slideshow-caption {
        bottom: $gutter;
    }

    .my-slideshow-navigation {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        z-index: 2;
    }

    .my-slideshow-navigation--button {
        position: absolute;

        background: $color-white;

        color: $color-black;
        text-shadow: none;
        font-size: $gutter;
        font-family: themannekentrip;

        &.icon-times {
            top: 0;
            right: 0;
        }

        &.icon-chevron-left {
            left: 0;
            top: 50%;

            @include transform(translateY(-50%));
        }

        &.icon-chevron-right {
            right: 0;
            top: 50%;

            @include transform(translateY(-50%));
        }
    }
}