/* Layout styling */
body.page-template-tpl-index #topbar {
    position: fixed;
    top: 0;
}

body.page-template-tpl-index #main {
    position: relative;
    margin-top: $topbar-height;
    color: $black;

    .box {
        position: absolute;
        width: 100%;

        text-align: center;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        background: rgba(255, 255, 255, 0.3);
        padding: 1rem;

        @include mq(medium) {
            padding: 2rem;
        }

        &.gallery {
            padding: 0;
            background: none;
        }
    }

    .background-paper, .background-paper-parallax {
        position: absolute;
        background: url("../../images/aquarel.svg") no-repeat fixed;
        background-size: cover;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.7);
            z-index: -1;
        }
    }

    .background-paper-parallax {
        background-position: center top;
    }

    .background-paper {
        background-position: center $topbar-height;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .background-map {
        width: 100%;
        height: 100%;
        background: url("../../images/carte.svg") center $topbar-height no-repeat;
        background-size: contain;
    }

    .header {
        width: 100%;
        padding: 0;

        .header-content {
            padding-top: 2rem;
            padding-bottom: 2rem;

            border-top: solid 1px $lightGrey;
            border-bottom: solid 1px $lightGrey;
            background: rgba(255, 255, 255, 0.5);
        }

        h1 {
            display: inline;
            margin: 0 0 1rem;
            padding-bottom: 1rem;

            @include horizontal-dotted-border(4px, 1.5px, $lightGrey, transparent, 40%, 0%);
        }

        h2 {
            margin: 2rem 0 0;
        }
    }
}

body.page-template-tpl-index #footer {
    color: $black;
    margin: 0;
    padding: 10px 0;
}