/* Layout styling */
body.page-template-tpl-index {
    overflow: hidden;
}

body.page-template-tpl-index #topbar {
    position: fixed;
    top: 0;
}

body.page-template-tpl-index #main {
    position: relative;
    color: $black;

    .box {
        position: absolute;

        text-align: center;
        top: 50%;
        left: 50%;
        width: 80%;
        @include transform(translate(-50%, -50%));

        background: rgba(255, 255, 255, 0.90);
        padding: 1rem;

        @include mq(medium) {
            padding: 2rem;
            width: 50%;
        }

        &.gallery {
            padding: 0;
            background: none;
            width: 100%;
        }

        &.header {
            left: 0;
            width: 100%;
            @include transform(translate(0%, -50%));
        }

        &.stats {
            width: 50%;

            @include mq(small) {
                width: 30%;
            }
        }

        &.video {
            width: auto;
            background: $black;
        }

        &.facebook {
            width: auto;
        }

        h3 {
            a {
                color: $mediumGrey;
                text-transform: uppercase;
                font-weight: 500;
                text-decoration: none;
            }
        }

        p {
            line-height: 1.5rem;
        }
    }

    .background-paper, .background-paper-parallax {
        position: absolute;
        background: url("../../images/aquarel.svg") transparent no-repeat fixed;
        background-size: cover;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.7);
            z-index: -1;
        }
    }

    .background-paper-parallax {
        background-position: center top;
    }

    .background-paper {
        background-position: center $topbar-height;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .background-map {
        width: 100%;
        height: 100%;
        background: url("../../images/carte.svg") 50% 50% no-repeat;
        background-size: auto 80%;

        @include mq(large) {
            background: url("../../images/carte.svg") center 40px no-repeat;
            background-size: contain;
        }
    }

    .header {
        width: 100%;
        padding: 0;
        background: none;

        .header-content {
            padding-top: 2rem;
            padding-bottom: 2rem;

            border-top: solid 1px $lightGrey;
            border-bottom: solid 1px $lightGrey;
            background: rgba(255, 255, 255, 0.65);
        }

        h1 {
            display: inline;
            margin: 0;

            color: $darkGreen;
        }

        h2 {
            margin: 1rem 0 0 0;
            color: $darkGrey;
            font-weight: 300;
            font-size: 1.2rem;
            text-transform: uppercase;
        }
    }

    .stats {
        ul {
            text-align: left;
            margin: 0;
        }

        li {
            display: block;
        }

        i {
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;

            font-size: 3rem;
            line-height: 3.4rem;
        }
    }

    .video {
        iframe {
            border: none;
            width: 80vw;
            height: calc(100vh - #{$topbar-height}*3);
        }
    }

    .facebook {
        .iframe-desktop {
            display: none;
        }

        @include mq(medium) {
            .iframe-desktop {
                display: block;
            }

            .iframe-mobile {
                display: none;
            }
        }
    }
}

body.page-template-tpl-index #footer {
    color: $black;
    margin: 0;
    padding: 10px 0;
}