@mixin box-rotate($degree) {
    -moz-transform: rotate($degree);
    -webkit-transform: rotate($degree);
    -o-transform: rotate($degree);
    -ms-transform: rotate($degree);
    transform: rotate($degree);
}

@mixin scale($ratio) {
    -webkit-transform: scale($ratio);
    -moz-transform: scale($ratio);
    -ms-transform: scale($ratio);
    -o-transform: scale($ratio);
    transform: scale($ratio);
}

@mixin transition($value) {
	-webkit-transition: $value;
	-moz-transition: $value;
	-ms-transition: $value;
	-o-transition: $value;
	transition: $value;
}

@mixin content-columns($columnCount, $columnGap: 10px) {
    -webkit-column-count: $columnCount;
    -moz-column-count: $columnCount;
    column-count: $columnCount;
    -webkit-column-gap: $columnGap;
    -moz-column-gap: $columnGap;
    column-gap: $columnGap;
}

@mixin opacity($opacity) {
    opacity: $opacity / 100;
    filter: alpha(opacity=#{$opacity});
}

@mixin pull-left {
    width: auto;
    margin: 0 0 0 auto;
}

@mixin pull-right {
    width: auto;
    margin: 0 auto 0 0;
}

@mixin laurel-and-hardy() {
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}

@mixin font($fontSize, $lineHeight, $fontWeight: normal, $fontFamily: $baseFontFamily) {
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
    font-family: $baseFontFamily;
}

// -------------------------------------
// =Border Radius
// -------------------------------------

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

// -------------------------------------
// =Transitions
// Note: argument followed by "..." means for a mixin to take an unknown number of arguments
// -------------------------------------

@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

// -------------------------------------
// @see http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
// -------------------------------------
@mixin hide-text() {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

// -------------------------------------
// =Placeholder style rules concatenation
// -------------------------------------
@mixin placeholder() {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    .placeholder {
        @content;
    }
    &.placeholder {
        @content;
    }
}

// -------------------------------------
// =Flex property assigned to the wrapper
// -------------------------------------

@mixin flex-container() {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

// -------------------------------------
// =Flex box size - Options: flex-grow flex-shrink flex-basis | auto | initial | inherit
// -------------------------------------

@mixin flex-content-size($flex-grow, $flex-shrink, $flex-basis) {
    -webkit-box-flex: $flex-grow $flex-shrink $flex-basis;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: $flex-grow $flex-shrink $flex-basis;         /* OLD - Firefox 19- */
    -webkit-flex: $flex-grow $flex-shrink $flex-basis;          /* Chrome */
    -ms-flex: $flex-grow;                                       /* IE 10-11 */
    -ms-flex-positive: $flex-grow;
    -ms-flex-negative: $flex-shrink;
    -ms-flex-preferred-size: $flex-basis;
    flex: $flex-grow $flex-shrink $flex-basis;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

// -------------------------------------
// =Horizontal Flex items alignment - Options: flex-start | flex-end | center | space-between | space-around
// -------------------------------------
@mixin flex-justify-content($value) {
    -webkit-justify-content: $value;
    -ms-justify-content: $value;
    justify-content: $value;
}

// -------------------------------------
// =Flex direction - Options: row | row-reverse | column | column-reverse
// -------------------------------------
@mixin flex-direction($value) {
    -webkit-box-direction: $value;
    -webkit-flex-direction: $value;
    -ms-flex-direction: $value;
    flex-direction: $value;
}

// -------------------------------------
// =Flex wrap - Options: nowrap | wrap | wrap-reverse
// -------------------------------------
@mixin flex-wrap($value) {
    -webkit-flex-wrap: $value;
    flex-wrap: $value;
}

// -------------------------------------
// =Align text to bottom of its box
// -------------------------------------
@mixin flex-align-vertically($value) {
    @include flex-container();
    @include flex-direction(column);
    @include flex-justify-content($value);
}

// -------------------------------------
// =Align text to bottom of its box - Options: flex-start | flex-end | center | space-between | space-around
// -------------------------------------
@mixin flex-align-horizontally($value) {
    @include flex-container();
    @include flex-direction(row);
    @include flex-justify-content($value);
}

// -------------------------------------
// =Align items vertically - Options: flex-start | flex-end | center | baseline | stretch
// -------------------------------------

@mixin align-items($value) {
    -webkit-align-items: $value;
    -ms-align-items: $value;
    align-items: $value;
}

// -------------------------------------
// =Align content horizontally - Options: flex-start | flex-end | center | space-between | space-around | stretch
// -------------------------------------

@mixin align-content($value) {
    -webkit-align-content: $value;
    -ms-align-content: $value;
    align-content: $value;
}

// -------------------------------------
// =Specifies the alignment for the selected item inside the flexible container  - Options: auto | stretch | center | flex-start | flex-end | baseline | initial | inherit
// -------------------------------------

@mixin align-self($value) {
    -webkit-align-self: $value;
    -ms-flex-item-align: $value;
}

// -------------------------------------
// =Flex Order  - Options: number | initial | inherit
// -------------------------------------

@mixin flex-order($value) {
    -webkit-box-ordinal-group: $value;   /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-ordinal-group: $value;      /* OLD - Firefox 19- */
    -ms-flex-order: $value;              /* TWEENER - IE 10 */
    -webkit-order: $value;               /* NEW - Chrome */
    order: $value;
}

// -------------------------------------
// =Box sizing   - Options : content-box|border-box|initial|inherit;
// -------------------------------------

@mixin box-sizing($boxmodel) {
    -webkit-box-sizing: $boxmodel;
    -moz-box-sizing: $boxmodel;
    -ms-box-sizing: $boxmodel;
    box-sizing: $boxmodel;
}

// -------------------------------------
// =Headings Sass mixin
// -------------------------------------
@mixin horizontal-dotted-border($width, $height, $startColor, $endColor, $start, $stop){
    background-image: linear-gradient(to left, $startColor $start, $endColor $stop);
    background-position: bottom;
    background-size: $width $height;
    background-repeat: repeat-x;
}

// -------------------------------------
// =Transform
// -------------------------------------
@mixin transform($value) {
    -moz-transform: $value;
    -webkit-transform: $value;
    -o-transform: $value;
    -ms-transform: $value;
    transform: $value;
}

// -------------------------------------
// =Appearance
// -------------------------------------

@mixin appearance($value) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    appearance: $value;
}

// -------------------------------------
// =Box Shadow
// Note: argument followed by "..." means for a mixin to take an unknown number of arguments
// -------------------------------------

@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}