$parallax-height: 100vh;
.parallax {
    width: 100%;
    height: 500px;
    height: $parallax-height;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    font-size: 200%;
}

.parallax__group {
    @include transform(transform 0.5s);
    position: relative;
    height: 500px;
    height: $parallax-height;
    transform-style: preserve-3d;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 500px;
    height: $parallax-height;
}

.parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

.parallax__layer--base {
    @include transform(translateZ(0));
    z-index: 4;
}

.parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
}

.parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;

    &.has-gallery {
        height: $parallax-height*3;
        overflow: hidden;
    }
}

.box {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    text-align: center;
}

#group1 {
    z-index: 5; // header
}

#group2 {
    z-index: 2; // the project
}

#group3 {
    z-index: 4; // stats
}

#group4 {
    z-index: 5; // video
}

#group5 {
    z-index: 3;
}
#group5 .parallax__layer--base {
    background: rgb(214,229,100);
}

#group6 {
    z-index: 2;
}
#group6 .parallax__layer--back {
    background: rgb(229, 220, 12);
}

#group7 {
    z-index: 3;
}
#group7 .parallax__layer--base {
    background: url("../../images/mountains_blured.jpg") 0 0 no-repeat;
    background-size: cover;
}
