/* =============================================================================
   Colors
   ========================================================================== */
$color-white: #FFFFFF;
$color-black: #06091a;

$color-light-grey: #EFEFEF;
$color-medium-grey: #CDCDCD;
$color-dark-grey: #5d5d5d;

$color-green: #179ba9;
$color-light-green: #72bcb9;
$color-dark-green: #0e5e66;
$color-extra-dark-green: #2b2f38;

$color-dark-blue: #202429;

$color-primary: $color-green;
$color-primary-lighter1: mix(#fff, $color-primary, 10%);
$color-primary-lighter2: mix(#fff, $color-primary, 20%);
$color-primary-lighter3: mix(#fff, $color-primary, 30%);

$color-secondary-light: #f2f2f2;
$color-secondary-light-darker1: mix(#000, $color-secondary-light, 10%);
$color-secondary-light-darker3: mix(#000, $color-secondary-light, 30%);

$color-secondary-medium: #1a3944;
$color-secondary-medium-darker1: mix(#000, $color-secondary-medium, 10%);
$color-secondary-medium-darker2: mix(#000, $color-secondary-medium, 20%);

/* =============================================================================
   Breakpoints
   ========================================================================== */

$tabletLandscapeBreakPoint: 1024px;
$tabletPortraitBreakPoint: 768px;
$mobileLandscapeBreakPoint: 767px;
$mobilePortraitBreakPoint: 479px;

/* =============================================================================
   Typography
   ========================================================================== */
$baseFontSize: 16px;
$baseLineHeight: 1;
$baseFontFamily: 'Roboto', sans-serif;

$headingsFontFamily: inherit;
// empty to use BS default, $baseFontFamily
$headingsFontWeight: bold;
// instead of browser default, bold
$headingsColor: inherit;
// empty to use BS default, $textColor

/* =============================================================================
   Scaffolding
   ========================================================================== */
$backgroundColor: $color-white;
$backgroundContentColor: $color-white;
$textColor: $color-black;

/* =============================================================================
   Links
   ========================================================================== */
$linkColor: $color-black;

/* =============================================================================
   Sizes
   ========================================================================== */
$gutter: 40px;
$topbar-height: 40px;
$sidebar-gutter: 80px;
$sidebar-width: 25%;
$sidebar-breakpoint: 'medium';
$footer-height: 27px;

$size-scrollBar: 10px;
$size-scrollBar--small: 6px;

/* =============================================================================
   Z-index
   ========================================================================== */
$zindex-topbar: 100;
$zindex-navigation: $zindex-topbar - 1;
$zindex-footer: $zindex-navigation - 1;
$zindex-scrollbar: $zindex-navigation - 1;